.operation-mode {
  margin-bottom: 10px;
}

.operation-area {
  display: flex;
}

.main-div {
  border: 1px solid gray;
  background: #cccccc;
}

.operation-card {
  margin-left: 20px;
  height: 100%;
  width: 400px;
  line-height: 40px;
}

.button-style {
  float: right;
  margin-top: 20px;
}

.g6-component-tooltip {
  background-color: rgba(0,0,0, 0.65);
  padding: 10px;
  box-shadow: rgb(174, 174, 174) 0px 0px 10px;
  width: fit-content;
  color: #fff;
  border-radius: 4px;
}
